# ------------------------------------------------------------------------------
# ALIASES
# ------------------------------------------------------------------------------

# Preferred 'ls' implementation
alias ll='ls -FGlAhp'

